.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 90px 50px 92px 52px;
}

.menu__list-item {
  font-weight: normal;
  font-size: 18px;
}

.menu__list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
}

.menu__item-primary {
  list-style: none;
}

.menu__list-active {
  text-decoration: none;
}

.main__logo {
  width: 135px;
  height: 110px;
}

address {
  font-style: normal;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 5px;
  max-width: 240px;
}

.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 164px 50px 47px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 105px;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
}

.cover__title-primary {
  align-self: flex-start;
}

.cover__title-secondary {
  align-self: center;
  margin-right: -0.3em;
}

.cover__title-tertiary {
  align-self: flex-end;
  margin-right: -0.3em;
}

.description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subline {
  font-weight: normal;
  font-size: 22px;
  word-spacing: 19px;
}

/*Команда: "PostCSS Sorting: run" переносит "all: unset;" вниз, из за чего он каждый раз переопределяет верхние стили*/
.submit__bet {
  all: unset;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 12px 32px;
  font-weight: normal;
  font-size: 22px;
  cursor: pointer;
}

.lots {
  margin: 0 24px 120px;
}

.lots__title {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__item {
  position: relative;
  width: 334px;
  min-height: 596px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.lots__item-primary {
  background-image: url('../images/card-lot-01.jpg');
}

.lots__item-secondary {
  background-image: url('../images/card-lot-02.jpg');
}

.lots__item-tertiary {
  background-image: url('../images/card-lot-03.jpg');
}

.lot__link {
  height: 100%;
  text-decoration: none;
}

.lot {
  height: 100%;
  padding: 48px 40px;
}

.lot__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: rgba(255, 255, 255, 1);
}

.lot__title {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.lot__information {
  font-weight: normal;
  font-size: 20px;
}

.lots__more {
  margin-left: 40px;
  font-weight: normal;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 344px 1fr;
  gap: 15px;
  min-height: 595px;
  margin: 0 24px 180px 24px;
}

.logo__column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: black;
}

.logo_inverted {
  width: 142px;
  height: 113px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-self: start;
  justify-content: flex-end;
  gap: 100px;
}

.about__title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.description__block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 690px;
  font-weight: normal;
  font-size: 20px;
}


.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 180px;
  padding: 0 50px;
  font-weight: normal;
  font-size: 18px;
}

.contacts__footer {
  justify-self: start;
  min-width: 265px;
}

.menu__list-footer {
  flex-direction: column;
  align-items: center;
  gap: 0;
  list-style: none;
}

.networks__list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.networks__img {
  width: 48px;
  height: 48px;
}